*~
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
*.pb.cc
*.pb.h
*.a
*.so
Makefile
moc_*
*_automoc*
/bin/*
/doc/*
Doxyfile
tempFile902e809843
.directory
ui_*s
.directory
/data/*
/output/*
/proj02_report/*.aux
/proj02_report/*.log
/proj02_report/*.pdf
svmOutput.txt
